:root {
  --maincolor: #000000;
  --headerlink: #ffffff;
  --text: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
body {
  background-color: var(--maincolor);
  scroll-behavior: smooth;
  background-image: url(../images/Graphic.png);
}

/* Header CSS Start */
header {
  height: 72px;
  position: absolute;
  top: 30px;
  width: 90vw;
  left: 5%;
}
header .container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #00000000;
  border: 1px solid rgba(214, 230, 241, 0.192);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
header .container .navbar {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
header .container .navbar .logo {
  width: 25%;
}
header .container .navbar .logo .logo-svg {
  width: 100%;
  height: 100%;
}
header .container .navbar .nav-list {
  width: 100%;
  list-style-type: none;
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
.list-item {
  text-align: center;
  max-width: 130px;
  height: fit-content;
}
.nav-links {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: var(--headerlink);
  border-radius: 20px;
  line-height: 24px;
  display: inline-block;
  padding: 10px 25px;
  transition: transform 0.3s ease, color 0.3s ease;
}
header .container .contact {
  width: 25%;
}
header .container .contact .contact-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  justify-content: center;
}
header .container .contact .contact-list .contact-item {
  margin: 0 auto;
}
header .container .contact .contact-list .contact-item .contact-link {
  text-decoration: none;
  font-size: 18px;
  font-style: italic;
  color: var(--text);
}

/* Desktop Özel Hover bunlar*/

@media (min-width: 1280px) {
  .nav-links:hover {
    font-weight: 700;
    transform: scale(1.1);
    color: #ebe971;
  }
  .nav-links::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #ebe971;
    transition: width 0.3s ease;
  }
  .nav-links:hover::after {
    width: 55%;
  }
}



@keyframes sway {
  0%, 100% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
}

@keyframes colorChange {
  0% { fill: #C7EA46; }   /* Turuncu */
  20% { fill: #33ff57; }  /* Yeşil */
  40% { fill: #FF007F; }  /* Mavi */
  60% { fill: #9D00FF;}
  80% {fill: #00A8E8; }
  100% { fill: #C7EA46; }
}

.logosvg {
  transform-origin: center;
  animation: sway 3s ease-in-out infinite alternate, 
             colorChange 5s ease-in-out infinite;
}